<style>
  .comments-card{
    border:solid;
  }
</style>

<div id="comments-c>
  <div class="single-comment">
    <div class="username">
      <%=comment.post.user.username%>
      <div class="discriptions">
        <%= comment.discription%><br>
      </div>
      <div class="feature">
        <%= link_to "edit", edit_post_comment_path(comment.post, comment)%>
        <%=link_to "delete", [comment.post, comment], data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                } %> <br>
      </div>
  </div>
</div>
