<%= form_with model: @story do |form| %>
  <div class="field">
    <%=form.label :stories, style: "display: block" %>
    <%= form.file_field :stories %>
  </div>

  <div class="action">
    <%= form.submit %>
  </div>
<% end %>