<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap w/ Parcel</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script type="module" src="js/main.js"></script>
    
  </head>
   
   <style>
    .middiv{
      margin: 5px;
      margin-left:245px;
      width: 50px;
      color: white;
      image-rendering: auto;
      padding: 2px;
      position: fixed;
    }
    .pics{
       width: 400;
      height: 500;
    }
    .down{

    }

   *{
      background-color: rgba(37, 37, 36, 0.986);
    }
    .sidenav {
      height: 100vh; /* 100% Full-height */
      width: 182px; /* 0 width - change this with JavaScript */
      position: fixed; /* Stay in place */
      z-index: 1; /* Stay on top */
      top: 0; /* Stay at the top */
      left: 0;
      background-color: #222020; /* Black*/
      overflow-x: hidden; /* Disable horizontal scroll */
      display: flex;
      align-items: center;
      flex-direction: column;
      padding-top: 60px; /* Place content 60px from the top */
      transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    }

    /* The navigation menu links */
    .sidenav a {
      padding: 4px 8px 8px 32px;
      margin-top: 20%;
      text-decoration: none;
      font-size: 25px;
      color: #c1afc5ad;
      background-color: #222020;
      position: relative;
      top: 40px;
    }

    /* When you mouse over the navigation links, change their color */
    .sidenav a:hover {
      color: #f1f1f1;
    }

    /* Position and style the close button (top right corner) */
    .sidenav .closebtn {
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }

    /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
    #main {
      transition: margin-left .5s;
      padding: 20px;
    }

    /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
    @media screen and (max-height: 450px) {
      .sidenav {padding-top: 15px;}
      .sidenav a {font-size: 18px;}
    }
    </style>
  <body>
    <div id="mySidenav" class="sidenav">
      <a href="Homes#show">Home</a>
      <a href="#">New Post</a>
      <a href="#">Profile</a>
    </div>
    
    <div class="middiv">
      <div class="down">
        <%@post.each  do |post| %>
          <div class="username">
            <%=post.user.username%>
          </div>
          <%= render partial:"posts/shows", locals:{post: post}%>
        <% end %>
      </div>
    </div>
  </body>
</html>