    @import url(https://fonts.googleapis.com/css?family=Dancing+Script);
      * {
          margin: 0;
      }

      body {
          background-color: #e8f5ff;
          font-family: italic;

      }

      .mainmain {
        margin-top: 0px;
        margin-left: 210px;
        font-size: 14px;
        padding: 0 10px;
        width: 50%;
    }
  
      .title {
          font-family: 'Dancing Script', cursive;
          padding-top: 15px;
          position: relative;
          left: 22%;
          font-size:larger;
          top:-15px;
      }

      .navbar-top {
          position:relative;
          margin-left:15%;
          width: 51%;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          background: white;
      }

      .chats{
        margin-top:-478%; 
        margin-left:950px; 
        color:black; 
        width:34%;
      }